@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Montserrat:wght@200;400;500&family=Rubik&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Hachi+Maru+Pop&family=Mukta:wght@200;400&display=swap');

$f1: 'Hachi Maru Pop';
$f2: Mukta;
$c1: #e4e7e2f3;
$c2: #ff4010f3;
$c3: #1a77f0f3;

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 0;
  box-sizing: border-box;
}

body {
  font-family: $f2;
}



/* resetting bootstrap default styles */
ul, ol {
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

/* body {
    display: flex;
    flex-direction: column-reverse;
    min-height: 100vh;
    font-family: Montserrat;
    overflow: hidden;
} */

.box {
    display: flex;
    flex-direction: column;
}

a {
  text-decoration: none;
}
/* 
.page {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow-y: scroll;
} */

/* this handle the top navigation */
/* #app {
    display: flex;
    flex-direction: column;
    list-style-type: none;
} */
/* 
#app .navbar-nav {
    list-style-type: none;
} */

.main {
  display: grid;
  // grid-template-columns: .1fr 3fr;
  grid-template-columns: .001fr 3fr;
  max-height: 100vh;
  // overflow: hidden;
}

.cart {
  position: relative;
  top: 0;
  right: 0;

  .badge {
    background: $c2;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    text-align: center;
    border-radius: 100px;
    color: #fff;
    cursor: pointer;
    transition: background 300ms ease-in;

    &:hover {
      background: black;
    }
  }
  
  .cart_preview {
    margin-top: 1em;
    display: none;
    max-height: 0;
    transition: height 400ms ease-in;
    
    &.active {
      max-height: 400px;
      display: flex;
      flex-direction: column;
    }
    
    ul {
      width: 100%;
      border-radius: 10px;
      background: $c1;
      overflow-y: scroll;
      
      li {
        padding: 1em;
        // background: $c1;
        transition: background 100ms ease-in;

        &:hover {
          background: darken($c1, 10%);
          cursor: pointer;
        }
      }
    }
  }

  .cart_actions {
    margin: 1em 0;
    display: flex;
    justify-content: space-between;
  }
}

.full_screen {
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.navigation {
    // position: fixed;
    position: relative; 
    // position: absolute;
    width: 50px;
    min-height: 150vh;
    -webkit-transition: width 250ms ease-in;
    transition: width 250ms ease-in;
    background: #1a1a1a;
    overflow: hidden;
    font-family: $f1;
    top: 0;
    left: 0;
    z-index: 50;
}
 .navigation:hover, .navigation.active {
    width: 250px;
}

.navigation.active {
  width: 350px;
}

.navigation .sidebar_header {
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity 400ms ease-in,
 -webkit-transform 300ms ease-in;
  transition: opacity 400ms ease-in,
 -webkit-transform 300ms ease-in;
  transition: transform 300ms ease-in,
 opacity 400ms ease-in;
  transition: transform 300ms ease-in,
 opacity 400ms ease-in,
 -webkit-transform 300ms ease-in;
  -webkit-transform: translateX(-500px);
          transform: translateX(-500px);
}

.navigation .sidebar_header .logo {
    padding: 1em;
}

.navigation .sidebar_header .user_actions {
    border-bottom: #292F59 2px solid;
}
/*
.dropdown {
    z-index: 9999999999;
} */

.dropdown-menu {
    z-index: 100;
}

.username {
    margin-left: 1em;
}
.navigation .sidebar_header .user_actions button {
    background-color: transparent;
    color: #CCCCCC;
    padding: .5em 3em;
    text-align: left;
}

.navigation .sidebar_header .username p {
    margin: 2em 1em;
    color: #CCCCCC;
}

.navigation .sidebar_header .username select {
  width: 100%;
}

.navigation .sidebar_header.active {
  opacity: 1;
  -webkit-transform: translateX(0);
          transform: translateX(0);
  visibility: visible;
}

.navigation .search_section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1.5em 1em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navigation .search_section .search_input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 .5em;
  background: #fff;
  transform: translateY(3px);
  border-radius: 100em;
}

.navigation .search_section .search_input:hover {
    transform: translateY(3px);
    background-color: #ea1d63;
}

.navigation .search_section .search_input:focus {
    background-color: #ea1d63;
}

.navigation .search_section .search_input input {
  background: transparent;
  padding: .5em 0;
  width: 100%;
  transition: 300ms ease-in;
}

.navigation .search_section .search_input input:focus {
  outline: 0;
  border: 0;
  background: transparent;

}

.navigation .search_section .search_input .search_button {
  background: coral;
  background: transparent;
  height: 100%;
  padding: 1em;
}

.navigation .search_section .search_input .search_button:focus, .navigation .search_section .search_input .search_button:active {
  outline: 0;
  border: 0;
}

.navigation .search_section .search_input .search_button:focus {
  color: crimson;
}

.navigation .search_section .search_input .search_button:active {
  color: darkgoldenrod;
}

.navigation .search_section .search_input:focus, .navigation .search_section .search_input:hover {
  background-color: #ea1d63;
  color: whitesmoke;
  cursor: none;
}

.navigation .search_section .search_input:focus .search::-webkit-input-placeholder, .navigation .search_section .search_input:hover .search::-webkit-input-placeholder {
  color: #fff;
}

.navigation .search_section .search_input:focus .search:-ms-input-placeholder, .navigation .search_section .search_input:hover .search:-ms-input-placeholder {
  color: #fff;
}

.navigation .search_section .search_input:focus .search::-ms-input-placeholder, .navigation .search_section .search_input:hover .search::-ms-input-placeholder {
  color: #fff;
}

.navigation .search_section .search_input:focus .search::placeholder, .navigation .search_section .search_input:hover .search::placeholder {
  color: #fff;
}

.navigation .search_section .search_input:focus .search, .navigation .search_section .search_input:focus .search_button, .navigation .search_section .search_input:hover .search, .navigation .search_section .search_input:hover .search_button {
  color: #fff;
}

.navigation .navbar_section {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.navigation .navbar_section li {
  position: relative;
  width: 100%;
  list-style-type: none;
}

.navigation .navbar_section li a {
  color: whitesmoke;
  text-decoration: none;
  position: relative;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.navigation .navbar_section li a .icon {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 60px;
  padding: 1em .5em 1em 1em;
  height: 60px;
  line-height: 60px;
  text-align: center;
}

.navigation .navbar_section li a .icon .fa {
  font-size: 2em;
}

.navigation .navbar_section li a .target {
  font-weight: 800;
  white-space: nowrap;
  position: relative;
  font-size: .7em;
  text-transform: uppercase;
  display: block;
  letter-spacing: 1.5px;
  padding: 0 10px;
  height: 60px;
  line-height: 60px;
  text-align: start;
}

.navigation .navbar_section li:hover {
  background-color: #ea1d63;
}

.toggle {
  position: absolute;
  top: 0;
  right: 0;
  width: 60px;
  height: 60px;
  display: none;
  align-items: center;
  justify-content: center;
  background: #1a1a1a;
  cursor: pointer;
  z-index: 50;
  -webkit-transition: 200ms ease-in, content 900ms ease-in;
  transition: 200ms ease-in, content 900ms ease-in;
  border-bottom-left-radius: 15px;
}

.toggle.active::before {
  content: '\f00d';
  border-bottom-left-radius: 1.5px;
  background-color: #ea1d63;
}

.toggle::before {
  content: '\f0c9';
  font-family: fontAwesome;
  position: absolute;
  -webkit-transition: content 900ms ease-in;
  transition: content 900ms ease-in;
  width: 100%;
  height: 100%;
  text-align: center;
  font-size: 24px;
  color: #fff;
  line-height: 60px;
}

@media (max-width: 575px) {
  .navigation {
    left: -100%;
    width: 100%;
  }
  .navigation.active {
    left: 0;
    width: 100%;
  }


  .toggle {
    display: flex;
  }
}


// AFTER NAVIGATION 


.main_page {



  &.settings {
    .profile_form {
      margin: 0 auto;
    }
    .shop_logo {
      display: flex;
      flex-direction: column;
      // background: #333;
      // text-align: center;
      align-items: center;
      
      // display: inline;
      img {
        height: 10em;
        border-radius: 100px;
        width: 10em;
        margin: 1em 0;
        border: .5em solid #ddd;
      }
    }
  }


  
}
